@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .hero-clip-path {
    clip-path: polygon(65% 0, 100% 100%, 0 100%, 41% 0);
    /* right left */
    /* clip-path: polygon(100% 0, 100% 25%, 59% 100%, 0 100%, 0 43%, 74% 0); */
  }

  .mixed-background {
    background-image: linear-gradient(to bottom, #13212c 0%, #325878 100%);
  }

  .text-decoration-none {
    text-decoration: none !important;
  }

  .text-shimmer {
    background-position: -100% 0;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shimmer 2s linear infinite;
  }

  @keyframes shimmer {
    to {
      background-position: 100%;
    }
  }
}

a {
  @apply text-white;
}
